* {
	font-family: Andale Mono, monospace, Arial;
	box-sizing: border-box;
	color: lime;
	background-color: black;
}

div .body{
    height: 100%;
    width: 100%;
}

div .main-container{
	width: 100%;
	border: 1px solid lime;
	display: flex;
    z-index: -1;
}

div.text-box, .game-container, .status-container{
    display: inline-block;
}

div.game-container{
    border: 1px solid lime;
    border-top: none;
    border-bottom: none;
    flex: 2;
    padding: 1rem;
}

div.text-box{
    flex: 1;
    padding: 1rem;      
}

div.status-container {
    flex: 1;
}

div .status-container{
	float: right;
    margin-left: auto;
}

div .stats{
    border: 2px solid lime;
    margin-bottom: 10px;
    border-right: none;
    border-top: 1px solid lime;
    margin-top: -1px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

div .inventory{
    border: 2px solid lime;
    border-right: none;
    border-bottom-width: 1px;
    margin-bottom: -1px;
    padding-left: 7px;
    padding-right: 7px;
}

.hidden{
    display: none;
}

div .event-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    left: 0;
    top: 0;
}

div .event-content {
    width: 40%;
    margin: 20% auto;
    border: 1px solid lime;
    padding: 2rem;
    box-shadow: 0 0 100px crimson;
}

.event-content button{
    position: relative;
    z-index: 1;
}

div .combat-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    left: 0;
    top: 0;
}

div .combat-content {
    width: 40%;
    margin: 20% auto;
    border: 1px solid lime;
    padding: 2rem;
    box-shadow: 0 0 100px crimson;
}

.combat-content button{
    position: relative;
    z-index: 1;
}

// STATS ANIMATIONS
// @keyframes increment{
//     from {background-color: black;
//             color:lime;}
//     to {background-color: lime;
//         color: black;}
// }

.stats p {
    width: 100%;
    // animation-name: increment;
    // animation-duration: 1s;
    background: black;
    position: relative;

    
}


.flash {
  width: 100%;
  height: 1.5em;
  background: lime;
  position: absolute;
  top: -.25em;
  left: 0;
  opacity: 0;
}
// BUTTON ANIMATIONS


button {
  text-align: center;
  width: 40%;
  position: relative;
  background: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: block;
  border: 1px solid lime;
  cursor: pointer;
}

button.disabled {
    color: darken(lime,20)
}

button:focus {
  outline: none;
}

div.cooldown {
  position: absolute;
  background: #164316;
  top:0;
  left:0;
  width:0%;
  height: 100%;
  opacity: .5;
}